
.wrapper{
    height:100vh;
    width:100%;
    min-width: 500px;
    margin:0 auto;
    /* background-color: aquamarine; */
}
.container{
    margin:4% auto;
    height:80%;
    width:50%;
    
}
.container .main{
    height:100%;
    width:100%;
    display:grid;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:20% 40% 40%;
    background-color:green;
    grid-column:1/2;
}
.header{
    background-color:rgb(0, 0, 0);
    border: 1px solid white;
    text-align: center;
    text-decoration: underline;
    color: white
}
.header h1{
    font-size:150%;
}
.choose{
    background-color:yellow;
    border: 1px solid white;
    text-align: center;
}
.choose{
    font-size:75%;
}
.score{
    background-color:blue; 
     grid-column-start: 1;
    grid-column-end: 3;
    border: 1px solid white;
    text-align: center;
}
.oparation{
    text-align: center;
    grid-column-start:1;
    grid-column-end: 3;
}
.oparation .keys{
    display:flex;
    justify-content: space-evenly;
    margin:5%;
    /* background-color:chocolate; */
    
}
.keys button{
    background-color:rgb(0, 0, 0);
    padding:5px;
    font-size: 100%;;
    font-weight: bold;  
    color:white;
    width: 30%;
}
.keys button:hover{
    cursor: pointer;
    background-color:rgb(17, 15, 15);
}
.start input[type="number"] {
    width: 20%;
    height:20%;
    font-size:100%;
    font-weight: bold;
    text-align: center;
}
.start input[type="button"] {
    width: 30%;
    height:20%;
    font-size:200%;
    font-weight: bold;
}
.start input[type="button"]:hover {
    cursor: pointer;
    background-color:black;
    color:white;
}

#leftRound{
    
    position: relative;
    border: .4rem solid red;
    /* border-radius: 50%; */
    z-index: 99;
    background-color: rgb(31, 16, 16);
    height: 10%;
    width: 10%;
    color: white;
    text-align: center;
    
    bottom: 1%;
    left: 1%;
    font-size: 100%;
    overflow: hidden;
}
.modal{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    height:100%;
    width:100%;
    background-color:rgba(0, 0, 0, 0.445);
    text-align: center; 
    color:rgb(37, 0, 0);
    
}
.modal .modalBox{
    margin:15% auto;
    text-align: center;
    height:40%;
    width:50%;
    background-color:#cce752 ;
    border:1px solid red;
    border-end-end-radius: 50px;
    
}
.modal .modalBox h1{
    font-size:100%;
    margin-top: 10%;
}